iframe{border: none;}

#View3D{width:90%;height:85%;position:absolute; bottom: 10px; left: 10px; }
#logo{font-family: monospace; font-size: 400%; position:absolute; text-align:  center;width: 50%; left: 25%}
